#main-container {
    width: 80%;
}

@media screen and (max-width: 1500px) {
    #main-container {
        width: 99%;
    }
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.form-control {
    border-radius: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}


.card {
    padding: 10px;
    border-radius: 20px;
}

.tab-content {
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 5px;
}

#submitEvent {
    margin-top: 10px;
    background: #0575E6;
    border-style: none;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    bottom: 0;
}

#submitEvent:hover {
    background: #003aa5
}

.nav-bk5{
    background: #0575E6;  
    background: linear-gradient(to left, #0099ff, #003aa5); 
}

#accountBtn {
    color: rgba(255, 255, 255, 0.747)
}

#logoutBtn {
    color:rgba(255, 255, 255, 0.747)
}
 
#homeBtn {
    color: rgba(255, 255, 255, 0.747)
}

#accountBtn:hover {
    color: rgb(255, 255, 255)
}

#logoutBtn:hover {
    color: rgb(255, 255, 255)
}
#homeBtn:hover {
    color: rgb(255, 255, 255)
}

